---
---

@import "{{ site.theme }}";

.btn {
    visibility: hidden;
}

.project-name {
    font-family: sans-serif;
    size: 28px;
}

.site-footer-owner .site-footer-credits {
        visibility: hidden;
}
