---
---

@import "{{ site.theme }}";

.btn {
    visibility: hidden;
}

.project-name:before {
    content: 'CRISPR Insights';
    font-size: 36px;
    font-family: sans-serif;
}

.project-name {
    visibility: hidden;
}

.main-content {
    text-align: justify;
}

.site-footer-credits {
        visibility: hidden;
}

.site-footer-owner {
    visibility: hidden;
}
