---
---

@import "{{ site.theme }}";

.btn {
    visibility: hidden;
}

.project-name {
    visibility: hidden;
    content: 'CRISPR Insights';
    font-size: 28px;
}

.project-tagline:before {
    font-family: sans-serif;
    font-size: 28px;
    content: 'CRISPR Insights <p>';
    color: white;
    
}

.site-footer-credits {
        visibility: hidden;
}

.site-footer-owner {
    visibility: hidden;
}
